<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortFolio</title>

<!---------------------- CSS Link -------------->
   <link rel="stylesheet" href="/CSS/index.css">

<!-------------------- Box icons   -->
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  

</head>
<body>
<!----------------Nav-bar -->

<header class="header">
<a href="#" class="logo">PortFolio.</a>

<i class='bx bx-menu' id="menu-icon"></i>

<nav class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#portfolio">PortFolio</a>
    <a href="#contact">Contact</a>
</nav>
</header>

<!---------------------- Home Section Design  ------------------------->

<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, it's Me</h3>
        <h1>Danyal</h1>
        <h3>And I'm <span class="multiple-text"></span></h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam consectetur, expedita earum nemo nihil reprehenderit exercitationem sapiente?</p>
    <div class="social-media">
        <a href="https://www.facebook.com/"    target="_blank"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://twitter.com/?lang=en" target="_blank"><i class='bx bxl-twitter' ></i></a>
        <a href="https://www.instagram.com/"   target="_blank"><i class='bx bxl-instagram-alt' ></i></a>
        <a href="https://www.linkedin.com/"    target="_blank"><i class='bx bxl-linkedin' ></i></a>
    </div>
    <!-- <a href="#" class="btn"  download="sample.pdf">Download CV</a> -->
    <a href="https://docs.google.com/document/d/1pWVCXGuerQ3372S4wAYyDhJPDW5-8RvJ/edit?usp=drive_link&ouid=115641130455699555472&rtpof=true&sd=true" download="MyResume.docx" target="_blank" class="btn">Download CV</a>
</div>
    <div class="home-img" >
        <img src="/images/4.jpeg" alt="san">
    </div>
</section>

<!----------------------- About Section  -------------------------------->
<section class="about" id="about">
 <div class="about-img" >
    <img src="images/4.jpeg" alt="Ahsan">
 </div>

<div class="about-content">
    <h2 class="heading">About <span>Me</span></h2>       
    <h3>Frontend! </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni delectus a aliquid aspernatur, quo asperiores architecto. Quae vero ea dolorum, minus obcaecati officiis architecto a? In, amet aperiam dolorem iusto veniam natus voluptate commodi dicta. Dignissimos deleniti enim aut in assumenda doloribus quaerat quos unde praesentium?</p>

  <a href="#"  class="btn">Read More</a>  
</div>

</section>

<!------------------------ Services Section -------------------------------->

<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2> 
  
 <div class="services-container">  
    <div class="services-box">
        <i class="bx bx-code-alt"></i>
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magnam quidem vel necessitatibus non dolorem sit velit dignissimos impedit minima.</p>
    <a href="" class="btn">Read More</a>
   </div>

   <div class="services-box">
    <i class='bx bxs-paint'></i>
    <h3>Graphic Designer</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magnam quidem vel necessitatibus non dolorem sit velit dignissimos impedit minima.</p>
<a href="" class="btn">Read More</a>
</div>

<div class="services-box">
    <i class='bx bx-bar-chart'></i>
    <h3>Software Developer</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magnam quidem vel necessitatibus non dolorem sit velit dignissimos impedit minima.</p>
<a href="" class="btn">Read More</a>
</div>

</div> 
</section>

<!-------------------------------------------- Portfolio -------------------------------------------------->
 <section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Project</span></h2>

    <div class="portfolio-container" >
        <div class="portfolio-box">
            <img src="images/portfolio-5.jpg"   class="portfolio-img">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, inventore.</p>
                <a href="/cart" target="_blank"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portfolio-box"  >
            <img src="images/portfolio-1.jpg"   >
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, inventore.</p>
                <a href="#"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="images/portfolio-6.jpg"   class="portfolio-imgs">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, inventore.</p>
                <a href="#"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="images/portfolio-1.jpg"   class="portfolio-img">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, inventore.</p>
                <a href="#"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="images/portfolio-5.jpg"   >
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, inventore.</p>
                <a href="#"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="images/portfolio-5.jpg"   class="portfolio-imgs">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, inventore.</p>
                <a href="#"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

    </div>
 </section>

<!------------------------- Contact section ----------->

<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>

    <form action="/" method="post">
        <div class="input-box">
            <input type="text" placeholder="Full Name" name="Name">
            <input type="email" placeholder="Email Address" name="Email">
        </div>
        <div class="input-box">
            <input type="number" placeholder="Mobile Number" name="Number">
            <input type="text" placeholder="Email Subject" name="Text">
        </div>
        <textarea name="Message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <input type="submit"  value="Send Message" class="btn">
    </form>
</section>

<!-- footer -->
<footer class="footer">
    <div class="footer-text">
        <p>Copyright &copy; 2023 by Danyal | All Rights Reserved.</p>
    </div>
    <div class="footer-iconTop">
        <a href="#home" ><i class="bx bx-up-arrow-alt"></i></a>
    </div>

</footer>

<!---------------------   Scroll reveal  ----------------------------------->
<script src="https://unpkg.com/scrollreveal"></script>

<!---------------------    Typed js  --------------------------------------->

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>



<!---------------------   JavaScript link   ------------------------------------>
<script src="/JavaScript/index.js"></script>

</body>

</html>